@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-text: #000000;
  --color-primary: #87cefa;
  --color-danger: #e63946;
}

@layer base {
  html {
    font-family: "Quicksand", system-ui, sans-serif;
  }
}

/* Hide scrollbars */
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
